.mui-slider {
	top:3.2rem; 
	height: 12rem;"
}

.mui-scroll-wrapper {
	margin-top: 3.6rem;
	height: 6rem;
	background: #FFFFFF;
}

/*.mui_scroll {
	border: 2px solid blue;
}

#brand-img {
	height: 100%;
}*/
