.red-box {
	position:relative;
	background-color: #FFFFFF;
}
.red-click-text {
	position: absolute;
	height: 30% ;
	width: 100%;
	text-align: center;
	padding-top: 4.0rem;
}

.red-click-text span {
	font-size: 3.2rem;
	font-family:cursive;
	color: red;
}

.red-open-text {
	position: absolute;
	height: 100% ;
	width: 100%;
	text-align: center;
	padding-top: 2.0rem;
}

.red-open-text span {
	font-size: 2rem;
	font-family:cursive;
	color: blue;
}

.red-open-text img {
	width: 40%;
	margin-top: 3.0rem;
}
