.red-box {
	position:relative;
	background-color: #FFFFFF;
}

.red-open-text {
	position: absolute;
	height: 50% ;
	width: 60%;
	margin-left: 20%;
	margin-top: 13%;
	/*border: 2px solid red;*/
}

.red-open-value {
	text-align: right;
	color: red;
  	font-size:2.4rem;
  	font-family:cursive;
}

.red-open-get {
	margin-top: 1.5rem;
	text-align: center;
	overflow: hidden;
    color: #333;
    font-size: 1.4rem;
	/*border: 2px solid blue;*/
}
