<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<script src="../common/js/mui.min.js"></script>
		<script src="../common/js/vue.min.js"></script>
		<link href="../common/css/mui.min.css" rel="stylesheet" />
		<link href="../common/css/category.css" rel="stylesheet" />
		<link href="../common/css/index.css" rel="stylesheet" />
	</head>

	<body>

		<div id="index">
			<div class="search-box">
				<div class="active-input">
					<img id="img-btn" src="../common/image/search.png"/>
					<input type="text" placeholder="搜索宝贝" name="keyword" onkeyup="enterSearch(event)">	
				</div>
			</div>
			
			<div class="banner-slider mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<div class="mui-slider-item mui-slider-item-duplicate">
			        	<img :src='end_banner_url'>
			    	</div>
			    	<template v-for=" banner in banners">
						<div id="banner" class="mui-slider-item" :data-keyword='banner.fields.keyword'
								:data-img_url='banner.fields.img_url'>
							<img  :src='banner.fields.img_url' >
						</div>
					</template>
					<div class="mui-slider-item mui-slider-item-duplicate">
			        	<img :src='start_banner_url'>
			    	</div>
				</div>
			</div>
			
			<template v-for="n in 6">
				<div v-bind:class="{ active: n==1 }">
				<div class="brand-slider mui-slider"  style="height: 6rem;top:0">
				  <div class="mui-slider-group mui-slider-loop">
				    <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
				    <div class="mui-slider-item mui-slider-item-duplicate">
				      <template v-for="(value,index) in brands">
							<div id="brand" v-if='index < (n + 1 )* 5 && index >= n*5' 
								:data-brand_id='value.fields.brand_id'
								:data-brand_name='value.fields.brand_name'
								style="display:inline;">
								<img :src='value.fields.brand_logo' style="width:20%;padding:1%;"/>
							</div>
						</template>
				    </div>
				    <!-- 第一张 -->
				    <div class="mui-slider-item">
				      	<template v-for="(value,index) in brands">
							<div id="brand" v-if='index < n * 5 && index >= (n-1)*5' 
								:data-brand_id='value.fields.brand_id'
								:data-brand_name='value.fields.brand_name'
								style="display:inline;">
								<img :src='value.fields.brand_logo' style="width:20%;padding:1%;"/>
							</div>
						</template>
				    </div>
				    <!-- 第二张 -->
				    <div class="mui-slider-item">
				      <template v-for="(value,index) in brands">
							<div id="brand" v-if='index < (n + 1)* 5 && index >= n*5' 
								:data-brand_id='value.fields.brand_id'
								:data-brand_name='value.fields.brand_name'
								style="display:inline;">
								<img :src='value.fields.brand_logo' style="width:20%;padding:1%;"/>
							</div>
						</template>
				    </div>
				    <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
				    <div class="mui-slider-item mui-slider-item-duplicate">
				      <template v-for="(value,index) in brands">
							<div id="brand" v-if='index < n * 5 && index >= (n-1)*5' 
								:data-brand_id='value.fields.brand_id'
								:data-brand_name='value.fields.brand_name'
								style="display:inline;">
								<img :src='value.fields.brand_logo' style="width:20%;padding:1%;"/>
							</div>
						</template>
				    </div>
				  </div>
				</div>
				<div class="item-list" style="margin-top:0.2rem;">
					<template id="items" v-for="(item,index) in items">
						<ul id="category-items" class="item clearfix" v-if='index < n * 5 && index >= (n-1)*5' :data-url='item.fields.coupon_url'>
							<div class="item-left">
								<image class="item-image" :src="item.fields.img_url"></image>
							</div>
							<div class="item-right">
								<div class="item-name">
									<span class="coupon">
                        			<span class="mr3">券</span> {{item.fields.coupon_value}}元
									</span>
									{{item.fields.ad_name}}
								</div>
								<div class="sale-info clearfix">
									<div class="price-value fl">券后价&nbsp<span class="show-price"> {{item.fields.price}}</span>元</div>
									<div class="sale-num fr">销量&nbsp{{item.fields.sales_num}}</div>
								</div>
								<div class="buy clearfix fr ">
									<button class="buy-button">领券购买</button>
								</div>
							</div>
						</ul>
					</template>
				</div>
				</div>
			</template>
			<div class="item-list">
				<template id="items" v-for="item in items">
					<ul id="category-items" class="item clearfix" :data-url='item.fields.coupon_url'>
						<div class="item-left">
							<image class="item-image" :src="item.fields.img_url"></image>
						</div>
						<div class="item-right">
							<div class="item-name">
								<span class="coupon">
                        			<span class="mr3">券</span> {{item.fields.coupon_value}}元
								</span>
								{{item.fields.ad_name}}
							</div>
							<div class="sale-info clearfix">
								<div class="price-value fl">券后价&nbsp<span class="show-price"> {{item.fields.price}}</span>元</div>
								<div class="sale-num fr">销量&nbsp{{item.fields.sales_num}}</div>
							</div>
							<div class="buy clearfix fr ">
								<button class="buy-button">领券购买</button>
							</div>
						</div>
					</ul>
				</template>
			</div>
		</div>
	</body>
	<script src="../common/js/index.js"></script>

</html>