<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<script src="../common/js/mui.min.js"></script>
		<script src="../common/js/vue.min.js"></script>
		<link href="../common/css/mui.min.css" rel="stylesheet" />
		<link href="../common/css/category.css" rel="stylesheet" />
		<link href="../common/css/index.css" rel="stylesheet" />
	</head>

	<body>

		<div id="index">
			<div class="search-box">
				<form>
					<div class="search-plane">
						<input type="text" placeholder="请输入商品的名称" name="keyword">
					</div>
					<div class="search-btn">
						<button id="btn" type="button">搜 索</button>
					</div>
				</form>
			</div>
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../common/image/test-banner.png">
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="#">
							<img src="../common/image/test-banner.png">
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="#">
							<img src="../common/image/test-banner.png">
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="#">
							<img src="../common/image/test-banner.png">
						</a>
					</div>
					<div class="mui-slider-item">
						<a href="#">
							<img src="../common/image/test-banner.png">
						</a>
					</div>
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="../common/image/test-banner.png">
						</a>
					</div>
				</div>
				<!--<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>-->
			</div>
			<template v-for="n in 3">
				<div class="mui-scroll-wrapper mui-slider-indicatorcode mui-segmented-control mui-segmented-control-inverted" v-bind:class="{ active: n == 1 }">
					<div class="mui-scroll" style="height:100%;width: 200%;">
						<template v-for="(value,index) in brands">
							<div v-if='index < n * 10 && index >= (n-1)*10' 
								style="display:inline;">
								<img id="brand-img" :src='value.fields.brand_logo' :data-cid='value.fields.brand_id'
									style="width:10%;padding:1%;">
								</img>
							</div>
						</template>
					</div>
				</div>
				<div class="item-list">
					<template id="items" v-for="(item,index) in items">
						<ul id="category-items" class="item clearfix" v-if='index < n * 3 && index >= (n-1)*3' :data-url='item.fields.coupon_url'>
							<div class="item-left">
								<image class="item-image" :src="item.fields.img_url"></image>
							</div>
							<div class="item-right">
								<div class="item-name">
									<span class="coupon">
                        			<span class="mr3">券</span> {{item.fields.coupon_value}}元
									</span>
									{{item.fields.ad_name}}
								</div>
								<div class="sale-info clearfix">
									<div class="price-value fl">券后价&nbsp<span class="show-price"> {{item.fields.price}}</span>元</div>
									<div class="sale-num fr">销量&nbsp{{item.fields.sales_num}}</div>
								</div>
								<div class="buy clearfix fr ">
									<button class="buy-button">领券购买</button>
								</div>
							</div>
						</ul>
					</template>
				</div>
			</template>
			<div class="item-list">
				<template id="items" v-for="item in items">
					<ul id="category-items" class="item clearfix" :data-url='item.fields.coupon_url'>
						<div class="item-left">
							<image class="item-image" :src="item.fields.img_url"></image>
						</div>
						<div class="item-right">
							<div class="item-name">
								<span class="coupon">
                        			<span class="mr3">券</span> {{item.fields.coupon_value}}元
								</span>
								{{item.fields.ad_name}}
							</div>
							<div class="sale-info clearfix">
								<div class="price-value fl">券后价&nbsp<span class="show-price"> {{item.fields.price}}</span>元</div>
								<div class="sale-num fr">销量&nbsp{{item.fields.sales_num}}</div>
							</div>
							<div class="buy clearfix fr ">
								<button class="buy-button">领券购买</button>
							</div>
						</div>
					</ul>
				</template>
			</div>
		</div>
	</body>
	<script src="../common/js/index.js"></script>

</html>