<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>每日红包</title>
		<script src="../common/js/mui.min.js"></script>
		<script src="../common/js/vue.min.js"></script>
		<link href="../common/css/mui.min.css" rel="stylesheet" />
		<link href="../common/css/category.css" rel="stylesheet" />
		<link href="../common/css/packet.css" rel="stylesheet" />
	</head>

	<body>
		<div id="packet">
			<div class="red-box">
				<div v-if="!red_packet_info.is_get" class="red-click">
					<img id="red-click-img" src="../common/image/red_click.png" style="width: 100%;">
				</div>
				<div v-else class="red-open">
					<div class="red-open-text">
						<div class="red-open-value">
							{{red_packet_info.value/100}}元
						</div>
						<div class="red-open-get">
							您有未提现的现金{{red_packet_info.total/100}}元, 满{{red_packet_info.max_value/100}}元即可在
							<span>{{red_packet_info.wx_name}}</span>提现
						</div>
					</div>
					<img id="red-open-img" src="../common/image/red_open.png" style="width:100%;">
				</div>
			</div>
			<div class="item-list">
				<template id="items" v-for="item in items">
					<ul id="category-items" class="item clearfix" :data-url='item.fields.coupon_url'>
						<div class="item-left">
							<image class="item-image" :src="item.fields.img_url"></image>
						</div>
						<div class="item-right">
							<div class="item-name">
								<span class="coupon">
                        <span class="mr3">券</span> {{item.fields.coupon_value}}元
								</span>
								{{item.fields.ad_name}}
							</div>
							<div class="sale-info clearfix">
								<div class="price-value fl">券后价&nbsp<span class="show-price"> {{item.fields.price}}</span>元</div>
								<div class="sale-num fr">销量&nbsp{{item.fields.sales_num}}</div>
							</div>
							<div class="buy clearfix fr ">
								<button class="buy-button">领券购买</button>
							</div>
						</div>
					</ul>
				</template>
			</div>
		</div>
		<script src="../common/js/packet.js"></script>
	</body>

</html>